@model IEnumerable<Website_demomvc.DAO.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

        <div id="main_content">
            <div id="content">
                <div class="my_action">
                    <div class="mybtn">
                        <button class="button-search">
                            <i class="fa-solid fa-plus"></i> 
                            <a asp-controller="Products" asp-action="Create"> Thêm mới </a> 
                        </button>
                    </div>
                    <div class="mybtn">
                        <form class="example">
                            <input class="input-search" type="text" placeholder="Search.." name="search2">
                            <button class="button-search" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="title">
                    DANH SÁCH SẢN PHẨM
                </div>

                <div class="my_table">
                    <div class="heading_table">
                        <div class="my_row">
                            <div class="my_col" id="my_col1">
                                STT
                            </div>
                            <div class="my_col" id="my_col2">
                                TÊN SẢN PHẨM
                            </div>
                            <div class="my_col" id="my_col3">
                                SỐ LƯỢNG
                            </div>
                            <div class="my_col" id="my_col4">
                                GIÁ THÀNH
                            </div>
                            <div class="my_col" id="my_col5">
                                NGÀY TẠO
                            </div>
                            <div class="my_col" id="my_col6">
                                THAO TÁC
                            </div>
                        </div>
                    </div>
                    <div class="content_table">
                @foreach (var item in Model)
                {
                    <div class="my_row">
                            <div class="my_col" id="my_col1">
                                @(++i)
                            </div>
                            <div class="my_col" id="my_col2">
                                @item.Name
                            </div>
                            <div class="my_col" id="my_col3">
                                @item.Amount
                            </div>
                            <div class="my_col" id="my_col4">
                                @item.Price
                            </div>
                            <div class="my_col" id="my_col5">
                                @item.DateCreate
                            </div>
                            <div class="my_col" id="my_col6">
                                <div id="my_col6_col">
                                    <button class="btn"><i class="fa-solid fa-circle-info"></i> 
                                        <a asp-action="Create" asp-route-id="@item.Id">Chi tiết</a>       
                                    </button>
                                </div>
                                <div id="my_col6_col">
                                    <button class="btn"><i class="fa-solid fa-square-pen"></i>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a>       
                                    </button>
                                </div>
                                <div id="my_col6_col">
                                    <button class="btn" id="btn_delete"><i class="fa-solid fa-trash-can"></i>
                                        <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>   
                                    </button>
                                </div>
                            </div>
                    </div>
                }
                    </div>
                    <div class="my_row"></div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
